* {
    font-family: "Poppins", sans-serif;
    text-decoration: none !important;
}

.css-10hburv-MuiTypography-root{
    font-family: "Poppins", sans-serif !important;

}
.blend0,
.css-u0quxs-MuiStack-root,
.css-v4cz06-MuiStack-root,
.css-i4bv87-MuiSvgIcon-root {
    color: #fff;
}

.home-hero {
    background-image: url(./components/img/Mask\ group.png);
}

.css-1kcggdq-MuiInputBase-root .MuiInputBase-input {
    padding-left: 24px !important;
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root {
    color: black !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    text-transform: capitalize !important;
}

.css-12dv9jb {
    transition: all 0.3s ease-in-out;
}

.css-46bh2p-MuiCardContent-root {
    padding: 0 !important;
}

.css-1v5z4dq-MuiPaper-root-MuiCard-root {
    border: none !important;
    border-radius: 7px !important;
    overflow: hidden !important;
}

.block {
    display: block;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root,
.css-kpm0tx-MuiButtonBase-root-MuiButton-root {
    justify-content: flex-start !important;
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root,
.css-dnrpxu-MuiCardActions-root,
.css-1hz1d4e-MuiCardActions-root {
    padding: 0 !important
}

.css-1v5z4dq-MuiPaper-root-MuiCard-root {
    background-color: #ABD6E2 !important;
    height: 270px;
}

.border {
    border-radius: 0px 100px 0px 0px !important;
}

.css-ptdjxj-MuiPaper-root-MuiAppBar-root {
    color: #fff !important;
    background-color: #0f3647 !important;
    z-index: 999 !important;
    position: fixed !important;
}

.center {
    display: flex !important;
    justify-content: center !important;
}

.c-white,.css-10hburv-MuiTypography-root,.css-ioz11f-MuiListItemIcon-root,.css-1q33hnv-MuiListItemIcon-root ,.css-1e7e7bc-MuiListItemIcon-root {
    color: #fff !important;
}

/* .snowfall { 
    background-image: url('https://library.elementor.com/resources/christmas-snow-effect/s1.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s2.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s3.png');
    animation: snow 20s cubic-bezier(1, 0.99, 0, 0) 2s infinite;
} */

/* .snowfall2{
    background-image: url('https://library.elementor.com/resources/christmas-snow-effect/s1.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s2.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s3.png');
    animation: snow2 10s linear alternate infinite ;
} */
/* 
@keyframes snow {
    0% {
        top: -700px;
        background-image: url('https://library.elementor.com/resources/christmas-snow-effect/s1.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s2.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s3.png');
        
    }
    
    50% {
        
        background-image: url('https://library.elementor.com/resources/christmas-snow-effect/s1.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s2.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s3.png');
        
    }
    
    100% {
        top: 700px;
        
        background-image: url('https://library.elementor.com/resources/christmas-snow-effect/s1.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s2.png'), url('https://library.elementor.com/resources/christmas-snow-effect/s3.png');
        
    }
} */



/* 
@keyframes snow2 {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateY(100%);

    }
} */

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    z-index: 98 !important;
}

.css-17colq4 {
    padding: 65px 0px 70px !important;
}

.h-screen {
    height: calc(100% - 70px);
    display: flex;
}

.slider {
    padding-left: 0 !important;
}

.div {
    padding: 20px 0px;
    background: #fff;
}

.slider {
    background-color: #0F3647;
    width: 280px;
    height: 100%;
    display: flex;
    overflow-y: auto !important;
    position: fixed;
    top: 0;
}

.css-480o17-MuiGrid-root {
    margin-left: 0 !important;
}

.contant {
    width: calc(100% - 20px) !important;
    padding: 10px 10px 10px 290px;

}

.hide {
    width: calc(100% - 290px) !important;
    padding: 65px 10px 10px;
}

.css-480o17-MuiGrid-root {
    width: calc(100%) !important;
    /* gap: 10px !important; */
}

.list,
.css-1xtiwv4 {
    padding-top: 65px !important;
}

.list {
    width: 100%;
}

.search {
    background-color: #F0F1F3;
    border-radius: 7px;
}

.iconss {
    display: flex !important;
    justify-content: center !important;
    height: 182px !important;
    width: 182px !important;
    flex-direction: column !important;
    align-items: center !important;
}

.css-xop5mw {
    background-color: #fff;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
    cursor: pointer;

}

.css-xop5mw:hover {
    background-color: #ffbc06;

}

.seticonsbox {
    display: flex;
    justify-content: center;
}

.css-1nxmd3h-MuiListItem-root:hover {
    background-color: #ffbc06 !important;
}
.css-uxa1ks-MuiListItem-root:hover .css-10hburv-MuiTypography-root{
    color: #272727 !important;
    
}

.css-7w6khc {
    color: #0F3647;
}

.background {
    background-image: url(./components/img/banner-download-bg.png), url(./components/img/banner-download-bg-2.png);
    width: 100%;
}

.backgroundInterface {
    background-image: url(./components/img/interfacebanner.jpg);
    width: 100%;
}
.css-15ya1lc{
    background: rgb(39 39 39 / 72%) !important;
}  
.m-0 {
    margin: 0 !important;
}

.info-area {
    padding: 30px 20px 20px 20px;
    background-color: #272727;
    transition: all 0.4s;
    color: #fff;

}

.info-area:hover {
    background-color: #272727;
}

.setcontant {
    padding: 10px 10px;

}

.boxshadowyellow {
    box-shadow: -8px -8px blanchedalmond;
}

.boxshadowyellow:hover {
    box-shadow: -8px -8px #888888;
}

.boxshadowyellow:hover h3 {
    color: blanchedalmond;
}

.boxshadowblue {
    box-shadow: -8px -8px #74C0FC;
}

.boxshadowblue:hover {
    box-shadow: -8px -8px #888888;
}

.boxshadowblue:hover h3 {
    color: #74C0FC;
}

.card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.card-info {
    padding-top: 10%;
}



/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
    text-align: center;

}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

.container {
    display: flex;
    gap: 10px;
}
.W-100{
    width: 100%;
}
.card1 {
    background-color: #fff;
    width: 16.67%;
    flex: 1;
    border-radius: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
}
.card1:hover {
    flex: 2;
    background-color: #b8b8b8;
}

.wallet {
    --bg-color: #ceb2fc;
    --bg-color-light: #f0e7ff;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.card3 {
   
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-out;
    text-decoration: none;
    padding: 20px 0px;
}

.card3:hover .circle {
    /* border-color: var(--bg-color-light); */
    background: #ffbc06;
}




.card3 p {
    font-size: 17px;
    color: #4c5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #ffbc06;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    /* background: var(--bg-color); */
    background: #F5F5F5;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 10000;
}

.overlay {
    width: 118px;
    position: absolute;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper,.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper{
    background-color: #272727 !important;
}
.css-1k7rjh0-MuiButtonBase-root-MuiIconButton-root,.css-1qqpd8d-MuiButtonBase-root-MuiIconButton-root{
    margin: 0 !important;
    padding: 8px 20px !important;
}


.card4 {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  .card4 .content4 {
    border-radius: 5px;
    background: #171717;
    width: 126px;
    height: 126px;
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content4::before {
    opacity: 0;
    transition: opacity 300ms;
    content: " ";
    display: block;
    background: #ffbc06;
    width: 50px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
  }
  
  .card4:hover .content4::before {
    opacity: 1;
  }


  @keyframes rotation_9018 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  